lab?.md
assignment?.md
.DS_Store

lab2/secret.txt
lab2/private_data.csv

lab3/fred_apikey.txt
lab3/djia.json
lab3/djia.csv

assignment1/assignment1.png
assignment1/data/sp500.csv
assignment1/data/sp500.json

lab4/data

lab6/data

assignment2/data
assignment2/flights.drawio

lab7/food-inspections-dirty.csv

lab8/data
lab8/comparisonA.txt
lab8/comparisonB.txt
lab8/venv.md
lab8/requirements.txt

__pycache__
lab9/data
.snakemake
lab9/requirements.txt

lab10/lab10.md

assignment3/dag.py
assignment3/requirements.txt
assignment3/assignment3.db